* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	background-color: #333;
	overflow: hidden;
}

.card {
	position: relative;
	height: 400px;
	width: 800px;
	border-radius: 15px;
	overflow: hidden;
	animation: fade 3s;
}

.bg-img {
	width: 100%;
	height: 100%;
	background-image: url('nature-3091991_1280.jpg');
	background-size: cover;
	background-position: center;
}

.girl {
	position: absolute;
	right: 0;
	bottom: -400px;
	width: 500px;
	animation: move 3s forwards;
}

.text {
	position: absolute;
	top: 111px;
	left: 100px;
	width: 260px;
	height: 100px;
	font-size: 36px;
	color: #fff;
	text-shadow: 2px 2px 5px #000;
	overflow: hidden;
}

.text::before {
	display: block;
	position: absolute;
	top: -60px;
	left: 0;
	content: '01/01/2020';
	animation: slide-text 1s 3s forwards;
}

@keyframes slide-text {
	from {
		top: -60px;
	}
	to {
		top: 10px;
	}
}

@keyframes move {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		bottom: 0;
	}
	100% {
		bottom: 0;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

h1 {
	position: absolute;
	top: 60px;
	left: 60px;
	font-size: 0;
	text-transform: uppercase;
}

h1 span {
	display: inline-block;
	font-size: 50px;
	color: #fff;
	text-shadow: 2px 2px 5px #000;
	animation: rotate-heading 2s 1s linear forwards;
	opacity: 0;
}

h1 span:nth-child(2) {
	animation-delay: 1s;
}
h1 span:nth-child(3) {
	animation-delay: 1.2s;
}
h1 span:nth-child(4) {
	animation-delay: 1.4s;
}
h1 span:nth-child(5) {
	animation-delay: 1.6s;
}
h1 span:nth-child(6) {
	animation-delay: 1.8s;
}
h1 span:nth-child(7) {
	animation-delay: 2s;
}
h1 span:nth-child(8) {
	animation-delay: 2.2s;
}

@keyframes rotate-heading {
	from {
		transform: rotateY(90deg);
		filter: blur(8px);
		opacity: 0;
	}
	to {
		transform: rotateY(0);
		filter: blur(0);
		opacity: 1;
	}
}
